[submodule "w2d4-foundry/lib/forge-std"]
	path = w2d4-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hello_foundry/lib/forge-std"]
	path = hello_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hello_foundry/lib/openzeppelin-contracts"]
	path = hello_foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "hello_foundry/lib/solmate"]
	path = hello_foundry/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "solidity-scripting/lib/forge-std"]
	path = solidity-scripting/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity-scripting/lib/solmate"]
	path = solidity-scripting/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "solidity-scripting/lib/openzeppelin-contracts"]
	path = solidity-scripting/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "w2d5-forge-script/lib/forge-std"]
	path = w2d5-forge-script/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w2d5-forge-script/lib/solmate"]
	path = w2d5-forge-script/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "w2d5-forge-script/lib/openzeppelin-contracts"]
	path = w2d5-forge-script/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "w4d1-inscription/insc/lib/forge-std"]
	path = w4d1-inscription/insc/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w4d1-inscription/insc/lib/solmate"]
	path = w4d1-inscription/insc/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "w4d1-inscription/insc/lib/openzeppelin-contracts"]
	path = w4d1-inscription/insc/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "w4d1-offline-permit/offlinepermit/lib/forge-std"]
	path = w4d1-offline-permit/offlinepermit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w4d1-offline-permit/offlinepermit/lib/solmate"]
	path = w4d1-offline-permit/offlinepermit/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "w4d1-offline-permit/offlinepermit/lib/openzeppelin-contracts"]
	path = w4d1-offline-permit/offlinepermit/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "w4d1-upgrade-market/erc20_upgradeable/lib/forge-std"]
	path = w4d1-upgrade-market/erc20_upgradeable/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w4d1-upgrade-market/erc20_upgradeable/lib/openzeppelin-contracts"]
	path = w4d1-upgrade-market/erc20_upgradeable/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "w4d1-upgrade-market/erc20_upgradeable/lib/openzeppelin-foundry-upgrades"]
	path = w4d1-upgrade-market/erc20_upgradeable/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "w4d1-upgrade-market/erc20_upgradeable/lib/openzeppelin-contracts-upgradeable"]
	path = w4d1-upgrade-market/erc20_upgradeable/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "w4d1-upgrade-market/nftmarket-permitlist/lib/forge-std"]
	path = w4d1-upgrade-market/nftmarket-permitlist/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w4d1-upgrade-market/upgrade-market/lib/forge-std"]
	path = w4d1-upgrade-market/upgrade-market/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w4d1-upgrade-market/upgrade-market/lib/openzeppelin-contracts"]
	path = w4d1-upgrade-market/upgrade-market/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "w4d3-nftrent-study/contracts/lib/forge-std"]
	path = w4d3-nftrent-study/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w4d3-nftrent-study/contracts/lib/openzeppelin-contracts"]
	path = w4d3-nftrent-study/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "w4d4-ido/lib/forge-std"]
	path = w4d4-ido/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w4d4-ido/lib/solmate"]
	path = w4d4-ido/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "w4d4-ido/lib/openzeppelin-contracts"]
	path = w4d4-ido/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
